.cardPrice {
  margin: 15px;
}

.title {
  display: flex;
  flex-direction: row;
  position: relative;
  font-size: 25px;
  font-weight: 700;
  padding: 10px 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.1;
  & > i {
    position: absolute;
    right: 10px;
  }
}

.button {
  margin: 0 auto 20px auto;
  color: #fff;
  display: block;
  width: 80%;
  font-weight: 700;
  font-size: 17px;
  line-height: 45px;
  border-radius: 5px;
}

.options {
  font-family: 'Raleway', sans-serif;
  margin: 5px 8px 5px 8px;
  font-size: 16px;
  color: #555;
  font-weight: 500;
  padding: 13px 0;
  padding: 7px;
}
.optionsNoBorder {
  border-bottom: none;
}
.optionsBorder {
  border-bottom: 2px gray solid;
}

.items {
  font-family: 'Raleway', sans-serif;
  margin-left: 24px;
  color: #555;
  font-weight: 500;
  padding: 13px 0;
  line-height: 2rem;
  font-size: 13px;
}
.itemsBorder {
  border-bottom: 2px gray solid;
  margin: 7px;
}
@media screen and (max-width: 760px) {
  .titleHD {
    border: none !important;
  }
}
@media screen and (min-width: 760px) {
  .items{
    font-size: 16px;
  }
  .options{
    font-size: 18px;
  }
  .subTitle {
    color: #666;
    font-size: 20px;
    font-weight: 500;
    min-height: 75px;
    line-height: 1.42857143;
  }
  .titleHD {
    font-family: 'Raleway', sans-serif;
    position: relative;
    min-height: 222px;
    max-height: 222px;
    padding: 10px;
    & > h3 {
      position: absolute;
      left: 130px;
      bottom: 10px;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.42857143;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0px 7px 15px gray;
    }
  }

  .title {
    font-size: 28px;
    i {
      display: none;
    }
  }
  .cardPrice {
    min-width: none;
    width: 100%;
    max-width: 292px;
    border: none !important;
  }
  .button {
    width: 100%;
    margin-top: 20px;
  }
}
