@import '../../common/extends.scss';
@import '../../common/mixins.scss';


.greenContainer {
 @extend %greenContainer;
}



.step {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  div {
    @include stepCard;
  }

  @media screen and (max-width: 823px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  img {
    width: 100%;
  }
}

.greenStep {
  @include stepCard;
  color: white;
}
