@import '../../common/extends.scss';
@import '../../common/mixins.scss';
.greyContainer {
  @extend %grey-container;
}

.stepReverse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 0;

  div {
    @include stepCard;
  }

  @media screen and (max-width: 950px) {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  img {
    width: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 90px 0 30px 0;
    padding: 0 80px;
    width: 100%;
    @media (max-width: 720px) {
      padding: 0;
    }
  }

  @media screen and (max-width: 414px) {
    padding: 0;
  }
}
