@import './mixins.scss';
%grey-container{
  @include innerContainer;
  background-color: #FAFAFA;
}
%greenContainer{
  @include innerContainer;
  background-color: #28D2D0;
}
%blueContainer{
  @include innerContainer;
  background-color: #2B62EC;
  color: white;
  
  h2{margin-bottom: 40px}
    }

  
%headerBar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 75px;
  max-width: 1140px;

  h3{ margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-size: 30px;
    font-weight: 500;}
   

  p{ font-family: Raleway, sans-serif;
    margin-bottom: 30px;
    padding: 0 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;}
   
}